@model Version4Nemesys.ViewModels.HallOfFameViewModel;
@{
    ViewData["Title"] = "Leaderboard";
    IEnumerable<UserModel> UserCounter = ViewBag.UserCounter;
}
<h1>Leaderboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Reporter
            </th>
            <th>
                Count of Reports
            </th>
        </tr>
    </thead>
    <tbody>
        @if (UserCounter != null)
        {
            @foreach (var item in UserCounter)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Counter)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
