@{
    ViewData["Title"] = "Index";
    IEnumerable<InvestigationModel> Investigations = ViewBag.Investigations;
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Date Of Investigation Submitted
            </th>
            <th>
                Investigation Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Investigations != null)
        {
            @foreach (var item in Investigations)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvestigationDescription)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.InvestigationID">Edit</a>
                            <a class="btn btn-primary" asp-controller="Investigation" asp-action="Details" asp-route-id="@item.InvestigationID">Details</a>
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
