@model Version4Nemesys.ViewModels.AccountViewModel
@using Version4Nemesys.Models.Enums
@{
    ViewData["Title"] = "RoleChange";
}

<h1>Choose a role</h1>
</hr>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="RoleChangeAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobsList" class="control-label">Which role:</label>
                <select asp-for="JobsList" asp-items="Html.GetEnumSelectList<Jobs>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="JobsList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
