@{
    ViewData["Title"] = "Index";
    IEnumerable<HazardModel> Hazards = ViewBag.Hazards;
}
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Hazard
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Hazards != null)
        {
            @foreach (var item in Hazards)
            {
                    <tr>
                        <td>
                            @item.HazardName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.HazardID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.HazardID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.HazardID">Delete</a>
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
